#Mostly meta files...

Chromatose/*.meta
Chromatose/Library/metadata/
Chromatose/Assets/*.meta
Chromatose/Assets/ChromAssets/*.meta
Chromatose/Plusgins/*.meta
Chromatose/TK2DROOT/*.meta
Chromatose/UnitySerializer/*.meta
Chromatose/Assets/Add-ons/*.*.meta
Chromatose/Assets/Art/*.meta
Chromatose/Assets/Avatar/*.meta
Chromatose/Assets/ING_NME/*.meta
Chromatose/Assets/Room Packages/*.meta
Chromatose/Assets/Systems/*.meta
Chromatose/Assets/Asset Box/*.meta
Chromatose/Assets/Asset Box/General (collisions)/*.meta
Chromatose/Assets/Asset Box/RedPlaceHolder/*.meta
Chromatose/Assets/Asset Box/sprcol_Module1_boxAssets Data/
Chromatose/Assets/Asset Box/templateBackground/
Chromatose/Assets/Asset Box/yellowPlaceholder/*.meta
Chromatose/Assets/Art/Animations/*.meta
Chromatose/Assets/Art/Backgrounds/*.meta
Chromatose/Assets/Art/Prefabs/*.meta
Chromatose/Assets/Art/Sprite Collections/*.meta
Chromatose/Assets/Art/Sprites Images/*.meta
Chromatose/Assets/ING_NME/Prefabs/*.meta
Chromatose/Assets/ING_NME/Scripts/*.meta
Chromatose/Assets/Systems/Gameplay Systems/*.meta
Chromatose/Assets/Systems/Management/*.meta
Chromatose/Assets/Systems/Prefabs/*.meta
Chromatose/Assets/Systems/Statics/*.meta
